* {
    margin: 0;
    padding: 0;
    font-family: 'TT Norms Pro', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2.25em;
    margin: 40px;
}

body {
    background-color: var(--base-color);
    color: var(--primary-color);
}

header, footer {
    display: flex;
    width: 100%;
    height: auto;
}

header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: 'TT Norms Pro', Arial, sans-serif;
    font-weight: 300;
    background-color: var(--base-color);
    border-bottom: 2px solid var(--primary-color);
}

header h1 {
    font-weight: 400;
    font-size: 2.25em;
    margin: 20px;
}

footer {
    flex-direction: column;
    align-items: center;
    padding-block: 30px;
    color: var(--base-color);
    background-color: var(--primary-color);
}

footer h2 {
    font-size: 2.25em;
    font-weight: 300;
    margin: 20px;
}

footer p {
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    width: 300px;
}

.menu a {
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
}

.sobre, .atendimento, .tratamentos, .preco {
    display: flex;
    justify-content: center;
    padding-top: 83px;
    overflow: hidden;
}

.sobre-total, .atendimento-total, .tratamento-total{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
}

.sobre {
    background-color: var(--primary-color);
    color: var(--base-color);   
}

.sobre-total {
    align-items: center;
    justify-content: space-around;
}

.sobre-total img {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
    min-width: 450px;
    align-self: flex-end;
}

.sobre-info {
    flex: 1 1 450px;
    padding: 20px;
}

.sobre-info h1, .sobre-info p {
    font-size: 1.2em;
    margin: 20px;
}

.sobre-info h1 {
    font-size: 2.25em;
}

.atendimento-total h1 {
    display: block;
    width: 100%;
}

.atendimento-item {
    display: block;
    background-color: var(--primary-color);
    color: var(--base-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    flex: 1 1 360px;
}

.atendimento-item h2, .atendimento-item p {
    margin: 10px;
}

.tratamento-total h1 {
    display: block;
    width: 100%;
}

.tratamento-item {
    display: block;
    overflow: hidden;
    margin: 10px;
    height: 300px;
    border-radius: 10px;
    flex: 1 1 250px;
    border: solid 2px var(--primary-color);
}

.item-1, .item-2, .item-3, .item-4 {
    justify-self: flex-end;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.item-1 {
    background-image: url('https://www.manual.com.br/_next/image?url=https%3A%2F%2Fcdn.manual.co%2FWEB_BR%2Fassets%2Fimages%2Farticles%2Farticle-3.jpg&w=1920&q=75');
}
.item-2 {
    background-image: url('https://www.manual.com.br/_next/image?url=https%3A%2F%2Fcdn.manual.co%2FWEB_BR%2Fassets%2Fimages%2Farticles%2Farticle-1.jpg&w=1920&q=75');
}
.item-3 {
    background-image: url('https://www.manual.com.br/_next/image?url=https%3A%2F%2Fcdn.manual.co%2FWEB_BR%2Fassets%2Fimages%2Farticles%2Farticle-2.jpg&w=1920&q=75');
}
.item-4 {
    background-image: url('https://www.manual.com.br/_next/image?url=https%3A%2F%2Fcdn.manual.co%2FWEB_BR%2Fassets%2Fimages%2Farticles%2Farticle-4.jpg&w=1920&q=75');
}


.tratamento-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    background-color: var(--primary-color);
    color: var(--base-color);
}

.tratamento-item-info h2 {
    margin: 15px;
    margin-top: 20px;
    margin-bottom: 0;
}

.tratamento-item-info p {
    margin: 10px;
    margin-top: 0px;
}

.preco {
	background: var(--base-color);
    flex-wrap: wrap;
	padding: 60px;
}

.preco-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	flex: 1 1 260px;
	border: 4px solid var(--primary-color);
	padding: 20px;
	margin: 10px;
}

.preco-item h2 {
    display: flex;
    align-items: center;
    height: 150px;
	font-size: 3em;
	color: var(--primary-color);
	text-align: center;
	margin-top: 20px;
}

.preco-item span {
    width: 80%;
	max-width: 300px;
	padding: 20px 10px;
	display: block;
	font-size: 3em;
	text-align: center;
	font-weight: 500;
	border-bottom: 4px solid var(--primary-color);
}

.preco-item sup {
	font-size: 1.5rem;
}

.preco-item-img {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: flex-end;

    border-top: 4px solid var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
    padding-inline: 10px;
    padding-top: 15px;
    width: 80%;
    height: 250px;
}

.preco-item-img img {
    height: 100%;
}

.preco-item ul {
    display: block;
	max-width: 300px;
    width: 80%;
    height: 250px;
	margin: 20px 0;
	font-size: 1.25em;
	font-style: italic;
	color: var(--primary-color);
}

.preco-item li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.preco-item li::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background: var(--secondary-color);
	border-radius: 50%;
}

.preco-comprar {
    max-width: 300px;
    overflow: hidden;
	margin: 20px auto;
	border: 4px solid;
    background-color: var(--primary-color);
	color: var(--base-color);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.25em;
    border-radius: 10px;
	padding: 15px;
	text-align: center;

}